h1 {
  font-size: 2rem;
}

.calc-wrapper {
  display: flex;
  width: 100%;
  border: 1px solid white;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.5rem;
}

.button-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
}

.display-wrapper {
  display: flex;
  flex-direction: row;
  place-items: center;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  background-color: gray;
}

.primary-display {
  min-height: 10%;
  min-width: 90%;
  margin: 0 auto;
  color: black;
}

.calc-avatar {
  width: 90%;
  margin: 10px;
}
